extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1 error
  .row
    .col-md-6.col-sm-12
        p= message
        p= error.status
        pre #{error.stack}
